*{
    box-sizing: border-box;
}

button{
    margin-bottom: 10px;
}

.container{
    display: grid;
    height: 5px;
    width: 5px;
}

.fgrid{
    border: solid 1px;
    height: 25px;
    width: 25px;
}


